ERROR_REPORT_TOKEN=your_error_report_token
NEXT_PUBLIC_ERROR_REPORT_TOKEN=your_public_error_report_token
DISCORD_WEBHOOK_URL=your_discord_webhook_url
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
